html {
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$cyan:    #0dcaf0;
$pink:    #d63384;
$red-500: #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$white:    #fff;
$black:    #000;
$gradient: linear-gradient(180deg, rgba($white, 0.15), rgba($white, 0));

.background {
  background: $gradient, url('./../../assets/images/school2.jpg') 100%;
  background-position: center;
  margin: 6px;
  background-size: cover;
  height: 800px;
  background-repeat: no-repeat;
  width: 100%;
}

.logo-sections {
  .logo-sections-1 {
    background-color: $red-500;
  }

  i {
    color: $white;
  }

  .palashute-paragra {
    color: $white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.header-menus {
  i {
    margin: 10px;
  }
}

.main-section {
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $white;
    padding-top: 170px;
  }

  .palashute-form {
    width: 80%;
    margin-left: 30px;
    height: 140px;
    border-radius: 10px;
  }

  .palashute-form input {
    width: 90%;
    height: 30px;
    border-radius: 8px;
  }

  .heading-form::after {
    content: ":";
  }

  .form-submit {
    background-color: $red-500;
    color: $white;
  }
}

.form-submit-2 {
  color: $white;
  border-radius: 9px;
  height: 35px;
}

.form-submit-3 {
  color: $danger;
  border-radius: 5px;
  height: 35px;
}

.paragraph-2 {
  color: $red-500;
  font-size: 13px;
}

.step1 img {
  height: 60px;
}

.media-body {
  .lh-1 {
    color: $white;
  }

  .paragraph-3 {
    color: $white;
  }
}

.paragraph-4 {
  color: $cyan;
}
